<h3>Theme</h3>
<section>
  <h4>Theme Tokens</h4>
<label>
  Primary Color
  <input
  type="color"
  [value]="getValue('--primary')"
  (input)="updateVar('--primary', getInputValue($event))"
/>
</label>

<label>
  Secondary Color
  <input
  type="color"
  [value]="getValue('--secondary')"
  (input)="updateVar('--secondary', getInputValue($event))"
/>
</label>

<label>
  Background
  <input
  type="color"
  [value]="getValue('--bg-color')"
  (input)="updateVar('--bg-color', getInputValue($event))"
/>
</label>

<label>
  Text
  <input
  type="color"
  [value]="getValue('--text-color')"
  (input)="updateVar('--text-color', getInputValue($event))"
/>
</label>
</section>

<section>
  <h4>Extended Theme Tokens</h4>

  <label>
    Background Container
    <input
    type="color"
    [value]="getValue('--bg-container')"
    (input)="updateVar('--bg-container', getInputValue($event))"
  />
  </label>
  <app-input
    label="Background Container"
    type="color"
    [(ngModel)]="customVars['--bg-container']"
    (input)="updateVar('--bg-container', getInputValue($event))"
  ></app-input>

  <label>
    Accent Color
    <input
    type="color"
    [value]="getValue('--accent')"
    (input)="updateVar('--accent', getInputValue($event))"
  />
  </label>
  <app-input
    label="Accent Color"
    type="color"
    [(ngModel)]="customVars['--accent']"
    (input)="updateVar('--accent', getInputValue($event))"
  ></app-input>
</section>

 <div>
  <app-button
  label="Reset Theme"
  [type]="'secondary'"
  icon="🔄"
  variant="icon-label"
  (click)="resetTheme()"
  onkeypress="resetTheme()"
/>
 </div>

 <section>
  <h3>Magic Theme Generator</h3>
  <div class="theme-generator">
    <app-input
    label="Pick a base color"
    type="color"
    [(ngModel)]="baseColor"
    ></app-input>

    <app-button
      label="Generate Theme"
      icon="✨"
      variant="grow"
      growDirection="right"
      type="primary"
      (click)="generateTheme()"
      onkeypress="generateTheme()"
    ></app-button>
  </div>  
</section>

