section{
  display: flex;
  flex-direction: row;
  gap: 3.125rem;
  margin-bottom: 3.125rem;
}

.theme-customizer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-lg);
    border: 1px solid #ccc;
    border-radius: var(--radius);
    background: var(--bg-color);
    color: var(--text-color);
  
    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: var(--font-size-sm);
    }
  }
  
.theme-header, .theme-generator{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.125rem;
}

.theme-header {
  gap: .625rem;
}