label {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    font-size: var(--font-size-sm);

  &.color-mode {
    flex-direction: row;
    align-items: center;
    span {
      margin-right: var(--spacing-sm);
      white-space: nowrap;
    }
  }
  
} 

  input {
    padding: var(--spacing-sm);
    border-radius: var(--radius);
    border: 1px solid var(--border-color);
    background: var(--bg-color);
    color: var(--text-color);
    transition: var(--transition);
    font-size: var(--font-size-md);
  
    &:focus {
      outline: var(--focus-outline);
      border-color: var(--focus-border);
      box-shadow: var(--focus-shadow);
   }
  }
  
  input:not([type='color']) {
    min-height: var(--input-height);
  }
  
  input:is([type='number']), input:is([type='icon']) {
    max-width: 6rem;
  }