<div class="page-layout">
  <aside class="toc-panel">
    <div class="toc-sticky">
        <app-content-table
          [sections]="[
            { id: 'card', label: 'Card' },
            { id: 'collapsible', label: 'collapsible' },
            { id: 'select', label: 'Select' }
          ]"
        />
    </div>
  </aside>

  <main class="main-content">
    <h1>🧬 Molecules</h1>

    <section id="card">
      <h2>Card</h2>
      <app-card
        image="/style-kit-card-art.svg"
        title="Design Tokens"
        text="Explore the system"
        link="/style-guide/tokens"
      ></app-card>
    </section>

    <section id="collapsible">
      <h2>Collapsible</h2>
      <app-collapsible
      title="What is Atomic Design?"
      preview="Click to learn more"
    >
      <p>
        Atomic design is a methodology composed of atoms, molecules, organisms, templates, and pages.
      </p>
    </app-collapsible>
    </section>

    <section id="select">
      <h2>Select</h2>
      <app-select
        [options]="['default', 'icon-label', 'grow']"
        [mode]="'radio'"
        [(model)]="selectedVariant"
        label="Choose Variant"
      ></app-select>
    </section>
  </main>
</div>
