<header>
  <h1>🎨 UI Style Kit</h1>
</header>

<nav>
  <a routerLink="/style-guide">Home</a>
  <a routerLink="/style-guide/atoms">Atoms</a>
  <a routerLink="/style-guide/molecules">Molecules</a>
  <a routerLink="/style-guide/organisms">Organisms</a>
  <a routerLink="/style-guide/templates">Templates</a>
  <a routerLink="/style-guide/pages">Pages</a>
  <a routerLink="/style-guide/stylings">Stylings</a>
  <a routerLink="/style-guide/icons">Icons</a>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
