<div class="theme-header">
  <h2>Theme</h2>

  <app-button
  label="Reset Theme"
  [type]="'secondary'"
  icon="🔄"
  variant="grow"
  (click)="resetTheme()"
  onkeypress="resetTheme()"
  />
</div>

<h3>Theme Tokens</h3>
<section>
<app-input
label="Primary Color"
type="color"
[(ngModel)]="customVars['primary']"
(ngModelChange)="themeService.setColor('primary', $event)"
></app-input>

<app-input
label="Secondary Color"
type="color"
[(ngModel)]="customVars['secondary']"
(ngModelChange)="themeService.setColor('secondary', $event)"
></app-input>

<app-input
label="Background"
type="color"
[(ngModel)]="customVars['bg-color']"
(ngModelChange)="themeService.setColor('bg-color', $event)"
></app-input>

<app-input
label="Text"
type="color"
[(ngModel)]="customVars['text-color']"
(ngModelChange)="themeService.setColor('text-color', $event)"
></app-input>

</section>

<h3>Extended Theme Tokens</h3>
<section>
  <app-input
    label="Background Container"
    type="color"
    [(ngModel)]="customVars['bg-container']"
    (ngModelChange)="themeService.setColor('bg-container', $event)"
  ></app-input>

  <app-input
    label="Accent Color"
    type="color"
    [(ngModel)]="customVars['accent']"
    (ngModelChange)="themeService.setColor('accent', $event)"
  ></app-input>
</section>


 <h3>Magic Theme Generator</h3>
 <section>
  <div class="theme-generator">
    <app-input
    label="Pick a base color"
    type="color"
    [(ngModel)]="baseColor"
    ></app-input>

    <app-button
      label="Generate Theme"
      icon="✨"
      variant="grow"
      growDirection="right"
      type="primary"
      (click)="generateTheme()"
      onkeypress="generateTheme()"
    ></app-button>
  </div>  
</section>

