<div class="theme-header">
  <h2>Theme</h2>

  <app-button
  label="Reset Theme"
  [type]="'secondary'"
  icon="🔄"
  variant="grow"
  (click)="resetTheme()"
  onkeypress="resetTheme()"
  />
</div>

<h3>Theme Tokens</h3>
<section>
<app-input
label="Primary Color"
type="color"
[(ngModel)]="customVars['--primary']"
(input)="updateVar('--primary', getInputValue($event))"
></app-input>

<app-input
label="Secondary Color"
type="color"
[(ngModel)]="customVars['--secondary']"
(input)="updateVar('--secondary', getInputValue($event))"
></app-input>

<app-input
label="Background"
type="color"
[(ngModel)]="customVars['--bg-color']"
(input)="updateVar('--bg-color', getInputValue($event))"
></app-input>

<app-input
label="Text"
type="color"
[(ngModel)]="customVars['--text-color']"
(input)="updateVar('--text-color', getInputValue($event))"
></app-input>

</section>

<h3>Extended Theme Tokens</h3>
<section>
  <app-input
    label="Background Container"
    type="color"
    [(ngModel)]="customVars['--bg-container']"
    (input)="updateVar('--bg-container', getInputValue($event))"
  ></app-input>

  <app-input
    label="Accent Color"
    type="color"
    [(ngModel)]="customVars['--accent']"
    (input)="updateVar('--accent', getInputValue($event))"
  ></app-input>
</section>


 <h3>Magic Theme Generator</h3>
 <section>
  <div class="theme-generator">
    <app-input
    label="Pick a base color"
    type="color"
    [(ngModel)]="baseColor"
    ></app-input>

    <app-button
      label="Generate Theme"
      icon="✨"
      variant="grow"
      growDirection="right"
      type="primary"
      (click)="generateTheme()"
      onkeypress="generateTheme()"
    ></app-button>
  </div>  
</section>

